.font-belinda {
    font-family: 'Belinda', cursive;
}

.bg-stripe {
    background-image: repeating-linear-gradient(
            45deg,
            #a2e8cc,
            #a2e8cc 120px,
            #ffffff 120px,
            #ffffff 220px
    );
    background-size: 200% 200%;
    background-repeat: repeat;
    transition: background-position 0.2s ease-out;
}